<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <div class="container-fluid"> 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      
      <div>
      <div class="dropdown">
      <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      <%= image_tag "user.png", style:"width:50px" %>
      Account
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><%= button_to 'Profile', current_user, method: :get, class: "btn"%></li><hr>
        <li><%= button_to 'Log out', destroy_user_session_path, method: :delete, class: "btn"%></li>
      </ul>
      </div>

    </div>
    <div class="row">
    <div class="col">
    <%= button_to root_path, :method => :get, class: "btn" do%><i class="fa fa-arrow-circle-left fa-2x"></i>&emsp; Back to homepage<%end%>
    </div>
    </div>
  </div>
</nav>
