%h2 Login
=form_tag login_path, :method => :post do
 
 =label :user, :username, 'Username'
 %br
 =text_field :user, :username
 
 %br 
 %br

 =label :user, :password,'Password'
 %br
 =password_field :user, :password

 %br 
 %br

 =submit_tag 'Submit'

 %br

 - if flash[:loginerror]
  = 'Username or password incorrect'