<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <div class="container-fluid">
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <% if !current_user %>
            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="navbarDropdown" role="button">
              Login
            </a>
            <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/users/sign_up">Sign up</a>
              </li>
              <li>
                <hr class="dropdown-divider"/>
              </li>
              <li>
                <a class="dropdown-item" href="/users/sign_in">Sign in</a>
              </li>
            </ul>
          <% else %>
            <div class="row">
              <div class="col">
                <%= image_tag "user.png", style:"width:50px" %>
              </div>
              <div class="col">
                <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="navbarDropdown" role="button">Account</a>
                <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                  <li>
                    <a class="dropdown-item">
                      <%= button_to 'Profile', current_user, method: :get, class: "btn"%>
                    </a>
                  </li>
                  <hr>
                  <li>
                    <a class="dropdown-item">
                      <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn" %>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          <% end %>
        </li>
      </ul>
      
    </div>
    <%= button_to root_path, :method => :get, class: "btn" do%><i class="fa fa-arrow-circle-left fa-2x"></i>&emsp; Back to homepage<%end%>
  </div>
</nav>
