<%= render 'books/navbar' %>
<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag 'black_book.png',style:"width:100%"%>
    </div>
    <div class="col-8">
    <br>
    <br>
    <div align="center" class="card" style="width: 100%">
        <h1>Edit Book</h1>
 
        <%= render 'form' %>
    </div>
  </div>
</div>